*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
}
input,.btn{
    background-color: rgb(28, 159, 57);
    color: rgb(250, 245, 245);
    margin-top: 70px;
    padding: 18px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}